@import "assets/fonts/Boska/css/boska.css";
@import "assets/fonts/Switzer/css/switzer.css";

:root {
  --primary-color: #0E1B48,
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Switzer-Regular", Arial, serif;
  font-size: calc(15px + 0.390625vw);

}

#root {
  width: 100%;
  height: 100%;
}
